<html>
<head>
    <title> D Mail</title>

    <link rel="stylesheet" type="text/css" href="../static/styles/style.css">

    <script>

    function switchAccount() {
      document.getElementById("myDropdown").classList.toggle("show");
    }

    function displayAccountDetails(){
        document.getElementById("accDetail").classList.toggle("displayAccount");
    }

    function displayMail(address, sender, title, content, timestamp){
        var modal = document.getElementById("myModal");
        var span = document.getElementsByClassName("close")[0];

        document.getElementById('msgSender').innerText = sender ;
        document.getElementById('msgAddress').innerText = address;
        document.getElementById('msgContent').innerText = content;
        document.getElementById('msgTitle').innerText = title;
        document.getElementById('msgTime').innerText = timestamp;

        modal.style.display = "block";


        span.onclick = function() {
          modal.style.display = "none";
        }
    }

    function displayMenu(){
        //Code Later
    }

    function selectedBox(x){
        var a ;
        if (x == 1){
            a = document.getElementById('inbox');

        }
        else{
            a = document.getElementById('outbox');
        }
        a.style.color = 'white';
        a.style.backgroundColor = 'black';
    }



    // Close the dropdown if the user clicks outside of it
    window.onclick = function(event) {
      if (!event.target.matches('.dropbtn')) {
          var dropdowns = document.getElementsByClassName("dropdown-content");
          var i;
          for (i = 0; i < dropdowns.length; i++) {
              var openDropdown = dropdowns[i];
              if (openDropdown.classList.contains('show')) {
                  openDropdown.classList.remove('show');
              }
          }
      }

    }
    </script>
</head>

<body>

    <div class="headerGrid">

        <div class="header">

            <div class="ethereum">
                <img alt= "Etherium Image" src="../static/Images/Etherium_icon.png" class="eth_icon">

                <div class="ethText">
                    <label class="Dmail"> D Mail</label>
                    <label class="runs"> Runs on Ethereum</label>
                </div>
            </div>

            <div class="account" style="float: end">



                <div class="dropdown">
                  <button onclick="switchAccount()" class="dropbtn">swtich account</button>
                  <div id="myDropdown" class="dropdown-content">
                        <form action="/" method="post">
                      {% for acc in accounts %}
                      <button  class="switchaccbtn"  name="InboxButtons" value="{{ acc }}">{{ accounts[acc][0] }}</button>

                      {% endfor %}

                        </form>

                  </div>

                </div>
            <div class="accountDetails">

                    <button class="accountLabel" onclick="displayAccountDetails()" style="font-size: 25px" id="accountLabel" >{{ accounts[defaultAccount][0]}}</button>
                    <div class="displayAccountDetials" id="accDetail">

                        <label class="accountDetailHeading"> Account Address</label><br>
                        <label class="accountDetailInfo">  {{ defaultAccount }} </label><br><br>
                        <label class="accountDetailHeading"> Account Balance</label><br>
                        <label class="accountBalance">  {{ accounts[defaultAccount][1] }} eth</label><br>


                    </div>

                </div>


            </div>

        </div>


        <div class="lowerGrid">
            <div class="inbox ">
                <form method ="POST" action="/">

                    <div> <button  name="InboxButtons" class="inboxButton" id = inbox type="submit" value="inbox"> Inbox </button></div>
                <div> <button  type="submit" name="InboxButtons" class="inboxButton" value="outbox" id="outbox"> Outbox </button></div>
                </form>
            </div>


            <div class = 'Messages'>
                {% if page == 1 %}

                    <div >
                        <form method="POST" class="newMailArea" action="/">
                            <label style="margin-bottom: 100px; font-family: Arial; font-size: 32px; font-weight: bold; letter-spacing: 1px;">Write mail</label>
                            <br><br>
                            <input  class="to" type="text" name="to" placeholder="Enter sender's address" id="reciever">

                            <input class="title" type="text" name="title" id="title" placeholder="Subject">

                            <textarea rows="7" class="Message" placeholder="Type your message here" id="content" name="content"></textarea>
                            <button type="submit" class="submitMail" name="InboxButtons" value="send">Send Mail</button>

                        <label style="color: #ff0f0f"> {{ mailMessage }}</label>
                        </form>
                    </div>
                {% elif page == 2 %}
                    <label class="boxText">Inbox</label><br>
                    <script >
                    selectedBox(1);
                    </script>
                    <div class="messageTable">
                    <table>
                        <tr>
                            <th> Sender </th>
                            <th> Title </th>
                            <th> Message </th>
                             <th> </th>
                            <th> Time </th>
                        </tr>

                        {% for msg in msgs %}
                        <tr onclick="displayMail('{{ defaultAccount }}','{{ accounts[defaultAccount][0] }}', '{{ msg[1] }}','{{ msg[2] }}','{{ msg[0] }}')" >
                            <td> {{ accounts[defaultAccount][0] }}</td>
                            <td> {{ msg[1] }}</td>
                            <td> {{ msg[2] }}</td>
                            <td></td>
                            <td> {{ msg[0] }}</td>
                        </tr>
                {% endfor %}
            </table></div>

                {% else %}
                    <label class="boxText">Outbox</label><br>
                    <script >
                    selectedBox(2);
                    </script>
                    <div class="messageTable">
                    <table>
                        <tr >
                            <th> Sender </th>
                            <th> Title </th>
                            <th> Message </th>
                            <th> </th>
                            <th> Time </th>
                        </tr>

                        {% for msg in msgs %}
                        <tr id="showMailOut" onclick="displayMail('{{ defaultAccount }}','{{ accounts[defaultAccount][0] }}', '{{ msg[1] }}','{{ msg[2] }}','{{ msg[0] }}')">
                            <td> {{ accounts[defaultAccount][0] }}</td>
                            <td > {{ msg[1] }}</td>
                            <td > {{ msg[2] }}</td>
                            <td></td>
                            <td > {{ msg[0] }}</td>
                        </tr>
                {% endfor %}
            </table>
                    </div>
                {% endif %}
            <div id="myModal" class="modal">

              <!-- Modal content -->
              <div class="modal-content">
                <span class="close">&times;</span>

                  <table class="modalTable">
                      <tr style="margin: 10px">
                          <td>
                                <label class="modalHeading"> From </label>
                          </td>
                          <td>:</td>
                          <td>
                               <label class="modalContent" id="msgSender"> </label>&#9;
                          </td>
                          <td></td>
                          <td>
                              <label id="msgAddress" style="color: dimgrey">  </label>
                          </td>
                      </tr>

                      <tr style="margin: 10px">
                          <td>
                                <label class="modalHeading">Title</label>
                          </td>
                          <td>:</td>
                          <td>
                              <label class="modalContent" id="msgTitle">  </label>
                          </td>
                      </tr>
                  </table>

                 <br><br> <br>
                  <p id="msgContent" class="modalContent"> </p>
                <label class="time" id="msgTime"> </label>
              </div>

            </div>
            <form action="/" method="post">
        <div > <button  class="newMail" name="InboxButtons" id = newMail type="submit" value="newMail"> New Mail </button></div>
            </form>
            </div>

        </div>


    </div>

</body>


</html>