html, body {
    max-width: 100%;

}

.headerGrid {
    display: grid;

    grid-template-rows: 120px 500px ;
    grid-gap: 30px;
    background-color: white;

}

.lowerGrid {
    display: grid;
    grid-template-columns:  90px auto;
    grid-gap:  5px;

     margin-top: 20px;
    border: white;
    border-style: solid ;
    background-color: white;
}

.header{
    background-color: white;
    font-size: 40px;
    padding: 10px;
    align-content: center;
    color: Black;
    height: 100%;
    display: grid;
    grid-template-columns: 78% auto;
    border: #d52e2e;

}
.ethereum{
    border: black;
    display: grid;
    grid-template-columns: 100px auto;
    margin: 10px;

}
.ethText{
    display: grid;
    grid-template-rows: auto 65%;
    margin: 10px;
}

.Dmail{
    font-family: Arial;
    color: Black;
    font-size: 40px;
    font-weight: bold;
}

.runs{
    font-family: Arial;
    color: black;
    font-size: 14px;
}

.eth_icon{
    margin: 10px;
    height: 100px;

}

.account{
    float: right;
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 15px;
}

.lower{
    background: white;
    font-size: 20px;


    height: 100%;
}

.inbox{
    text-align: center;
    width: 100%;
    height: 100%;
    background: white;
    display: grid;
    padding-top: 100px;

    grid-template-rows: 50px 50px 50px;
}
.Messages{
    width: 93%;
    height: 100%;

    background-color: white;
    padding: 50px;
    margin-right: 50px;
}

.newMail{
    background-color: #e0d2d2;/* Green */
    width: 100px;
  border: none;
  color: black;
  padding: 10px;
    margin-right: 60px;
    margin-bottom: 60px;
    border-radius: 100px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
   box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
     font-family: Arial;
    font-weight: bold;
    position: fixed;
    bottom: -10px;
    right: -10px;
}

.newMail:hover{
    background-color: #000000;
     transform: translateY(-1px);
    box-shadow: 0px 8px 15px rgba(45, 44, 44, 0.5);
    color: white;
}

.newMail:active{
    transform: translateY(0.5px);
}

.inboxButton {
    margin-top: 20px;
     font-weight: bold;
    letter-spacing: 1px;
    background-color: transparent ;/* Green */
    width: 100%;
  border: none;
  color: black;
  padding: 10px 18px;
  text-align: center;
  text-decoration: none;
    font-family: Arial;
  font-size: 16px;

  cursor: pointer;
}

.inboxButton:hover{
   background-color: #efefef;


}

.hamburger{
    align-self: center;
}


input[type=text] {
  width: 92%;
  padding: 12px 20px;
  margin: 10px;
    margin-top: 10px;
  border: 0;
  border-bottom: 2px solid #dcdada;
    outline: none;

}

input[type=text]:focus{
    border-bottom: 2px solid cornflowerblue;
}

textarea{
    outline: none;
    padding: 10px;
    margin: 15px;
    border: 0;
    border-bottom: 2px solid #dcdada;
    width: 92%;
    margin-top: 40px;
    resize: none;
}
textarea:focus{
    border-bottom: 2px solid cornflowerblue;
}

.submitMail{
    background-color: royalblue;
    color: white;
    border-radius: 7px;
    padding: 8px;
    margin: 10px;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    border: transparent;
}
.submitMail:focus{
    background-color: darkblue;
}


.dropbtn {
  background-color: transparent;
  color: cornflowerblue;
  padding: 12px;
    margin-top: 5px;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: transparent;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;

  background-color: #f1f1f1;
  min-width: 160px;
  position: absolute;
  right: 0;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}


.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

.switchaccbtn{
    width: 100%;
    font-size: 16px;
    color: black;
    background-color: white;
    padding: 8px;
    margin: 3px;
    border: transparent;

}
.switchaccbtn:hover{
    color: white;
    background-color: #1f1e1e;
}

.displayAccountDetials {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 120px;
    right: 0;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
    padding: 20px;
    margin: 10px;
    text-align: center;
    vertical-align: center;
}



.accountDetailHeading{
    text-align: center;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 16px;
    font-family: "Arial";
    color: #555454;
    width: 100%;

    padding-bottom: 10px;
}

.accountDetailInfo{
    text-align: center;
    width: 100%;
    font-size: 12px;
    font-family: "Arial";

}

.accountBalance {
    font-family: "Arial Black";
    font-size: 25px;
    color: #585252;

}

.displayAccount{
    display: block;
}

.accountLabel{
    background-color: transparent;
    color: black;
    border: none;

    margin-left: 10px;
    font-size: 14px;
    right: -10px;
    padding: 12px;
}

.accountLabel:hover, .accountLabel:focus{
    background-color: black;
    color: white;
}

.hamburger {
  width: 32px;
  height: 5px;
  background-color: black;
  margin: 5px 0;
}

.hamburgerButton{

    margin-top: 10px;
    margin-left: 15px;

}

.boxText {
    font-size: 30px;
    margin: 20px;
    font-family: "Arial Black";
    letter-spacing: 1px;

}

.messageTable{
    margin: 15px;
    padding: 10px;
    font-family: "Times New Roman";
    font-size: 15px;
}

.messageTable table {
  border-collapse: collapse;
  width: 94%;
     table-layout: fixed;
    border-spacing: 50px;
}

.messageTable td {
  padding: 8px;
  text-align: left;
    width: 100px;
  border-bottom: 1px solid #ddd;
    /*text-overflow: ellipsis;*/
    /*white-space: nowrap;*/
    /*overflow: hidden;*/
    padding: 15px;
}

.messageTable th{
    padding: 8px;
  text-align: left;
    width: 100px;
    background-color: black;
    color: white;
    font-size: 18px;
    padding: 15px;
}

.messageTable tr:hover {
    background-color:#f5f5f5;
    cursor: pointer;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 20px;
    /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 80px;
  border: 1px solid #888;
  width: 80%;
    height: 70%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.time{
    color: dimgray;
    font-size: 16px;
    right: 150px;
    bottom: 100px;
    position: fixed;
    align-self: end;
    padding: 10px;
}

.modalHeading{
    font-size: 16px;
    font-family: "Arial";

    color: #1f1e1e;

}

.modalContent{
    font-size: 16px;
    font-family: "Arial";

    color: black;
}

.modalTable{
    margin: 10px;
    border-spacing: 10px;

}

.modalTable tr{
    padding-bottom: 12px;
}